body {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
}

html {
	font-family: 'Open Sans', sans-serif !important;
}

main {
    flex: 1 0 auto !important;
}

blockquote {
    border-left: 5px solid #2F2F39 !important;
}

body {
	background-color: white !important;
}

nav {
	background: linear-gradient(0deg, rgba(0,0,0,0.3) 0, rgba(0,0,0,0) 76%),linear-gradient(to right, #122d68 0%, #122d68 20%, #d61726 20%, #d61726 100%) !important;
	height: 94px !important;
	position: relative !important;
}

.ugPageName {
	font-size: 3em !important;
	position: absolute !important;
	left: -25px;
	top: 14px;
	font-weight: 700;
}

nav .fas {
	font-size: 14px;
}

nav input {
	position: absolute;
	top: 29px;
	right: 10px;
	background-color: transparent;
	outline: none;
	border: 1px solid #eeeeee;
	padding: 8px 24px;
	background-repeat: no-repeat;
    background-size: 1.6em;
    background-position: right 0.6em center;
    padding-right: 2.5em;
    background-image: url('/output-onlinepngtools.png');
}

nav input::placeholder {
	color: white !important;
}

#overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 40%; /* Full height (cover the whole page) */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  opacity: 0.2;
  background-blend-mode: darken;
}

.sortBtn {
	text-transform: none !important;
}

.sidenav {
	width: 100% !important;
}

.ugDesktopMenu {
	width: 100%;
	border-bottom: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	padding: 10px;
}

.ugDesktopMenu li {
	display: inline-block;
	margin-right: 30px;
}

.ugDesktopMenu li:first-child {
	margin-left: 10px;
}

.ugDesktopMenu .dropdown-trigger .fas {
	font-size: 12px !important;
}

.myProductDetailsNav {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 5px;
    transition: width 0.1s linear;
}

.myProductDetailsNav .closebtn {
    text-decoration: underline;
    display: inline;
    transition: 0.3s;
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.myProductDetailsNav .closebtn:hover{
    color: #f1f1f1;
}

.searchField::placeholder {
	color: #616161;
}

.searchField:-ms-input-placeholder {
	color: #616161;
}

.searchField::-webkit-input-placeholder {
	color: #616161;
}

.sidenav li {
	padding: 10px !important;
}

.closeSearchNav {
	font-size: 2rem !important;
	background-color: #1a237e !important;
}

.searchField {
	width: 100%;
	height: 3em;
	border-radius: 4px;
	border: 1px solid lightgrey;
	padding-left: 5px;
}

.logoFont {
	font-family: 'Luckiest Guy', cursive !important;
}

.ugHeader {
	padding: 10px !important;
	margin: 0 !important;
}

.ugMainDiv {
	margin-top: 0 !important;
	padding: 0 !important;
}

.ugFrontMainCard {
	margin-top: 0 !important;
}

.underlineText {
	text-decoration: underline;
}

.ugMenuBtn {
	margin-top: 2px;
	
}

.ugMenuBtn strong {
	font-weight: 900 !important;
}

.ugMenuTable {
	margin: 10px;
}

.ugMenuTable tr {
	border: none;
	padding: 0 30px !important;
}

.ugMenuTable td {
	padding: 5px 0px 10px 0px !important;
	color: #616161 !important;
}

.ugMenuTable td:focus {
	background-color: #bdbdbd 
}

.fixturesMenuBtns li {
	display: inline-block;
	padding-right: 10px;
}

.fixturesMenuBtns li button {
	text-transform: none;
}

.flex-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.flex-item {
	-webkit-box-flex: 0 0 20%;
	-moz-box-flex: 0 0 20%;
	-ms-flex: 0 0 20%;
	-webkit-flex: 0 0 20%;
	flex: 0 0 20%;
	margin: 5px;
}

.ugFrontContentCard {
	padding: 15px !important;
	font-size: 1.125rem !important;
	margin: 0 !important;
}

.ugFrontContentCard span {
	font-weight: 900;
}


.ugCardTitle {
	font-size: 1.625rem;
	line-height: 1.1 !important;
}

.ugFeaturedCard .card-content {
	padding: 10px !important;
}

.ugFeaturedCard h5 {
	font-size: 1.125rem !important;
}

.ugFeaturedCard span {
	font-size: 12px;
}

.ugLatestTable {
	width: 100%;
}

.ugLatestTable tr {
	border: none !important;
}

.ugLatestTable .ugLatestImageRow {
	width: 30% !important;
}

.ugLatestTable span {
	font-size: 12px;
}

.ugArticleTitle {
    font-size: 2.6em;
    font-weight: normal;
    line-height: 1.15em;
    margin: 0 0 .5em 0;
}

.ugButton {
	text-transform: none !important;
	background: linear-gradient(to right,  #1a237e 0%,#1a237e 20%,#e53935 20%,#e53935 100%) !important;
}

.textTransform {
	text-transform: none !important;
}

.ugBorder {
	border: 1px solid lightgrey;
}

.ugResultsCardMenu {
	margin: 0;
}

.ugResultsCardMenu li {
	display: inline-block;
	padding: 0 20px 0 0;
	cursor: pointer;
}

.ugComp {
	column-count: 2;
	column-rule: 1px solid #dcdcdc;
	column-gap: 40px;
	transition: height 2s;
	background: #f4f4f4;
	width: 100%;
	margin: 0;
	padding: 1rem;
}

.ugComp li {
	font-size: 1em;
	display: inline-block;
    width: 100%;
    padding: .4em;
}

.increaseFontSize {
	font-size: 1.5rem
}

.ugStandCardMenu .right {
	margin-top: 5px;
}

.teamsDiv span {
	font-size: 1.2rem;
}

.dayMonthDiv {
	font-weight: 700;
}

.monthYearTitle {
	font-size: 1.8rem;
}

.standingsTable {
	font-weight: 700;
}

.ugEuropa {
	border-top: 1px solid grey !important;
	border-bottom: 1px solid grey;
}

#catDesktopDrop {
	width: 100px !important;
	min-width: 300px !important;
}
.catItemLink {
	font-size: 16px;
}
.ugLatestTitle {
	font-weight: 700;
}

.ugBoldText {
	font-weight: 700;
}

.catTabs .tab {
	padding-bottom: 10px !important;
}


.top-nav-color {
	background-color: #25252F;
}

.top-gold-color {
	color: #FDC624;
}

.top-nav {
	height: 25px;
}

.top-nav li a, .top-nav li i {
	font-size: 10px !important;
	line-height: 15px !important;
	height: 15px !important;
}

.top-nav li a {
	padding-top: 5px;
}

.top-nav i {
	padding-top: .5px;
}

.cover {
  object-fit: cover;
  margin: 0 auto; 
  max-height: 50px; 
  max-width: 50px;
}

.cover-img {
	padding-top: 15px;
}

.bottom-nav a {
	font-weight: bold;
}

.headlines {
	 list-style-type: square !important;
}
.headlines li a {
	font-size: 12px;
	padding: 5px;
}

.headlines li a:hover {
	color: #FDC624 !important;
}

.headline-panel {
	padding: 10px !important;
}

.card-image {
	position: relative !important;
}

.text-block {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.boxScore {
	background-color: red;
	color: white;
	margin: 10px;
	padding: 5px;
}

.scoreTable {
	width: 100%;
}

.scoreTable .middle {
	width: 20%;
	text-align: center;
}

.scoreTable .middle span {
	background-color: red;
	color: white;
	font-weight: 700;
	padding: 3px 10px;
}

.scoreTable .first {
	width: 40%;
	text-align: right;
	font-weight: 700;
}

.scoreTable .last {
	width: 40%;
	text-align: left;
	font-weight: 700;
}


.explore-btn {
	background-color: #FDC624 !important;
	font-weight: bold;
}

.more-links a {
	font-size: 12px;
}

.more-links h6 {
	font-weight: bold;
}

.league-name {
	position: relative;
	width: 100%;
	height: 132px;
	left: 0px;
	background: linear-gradient(359.71deg, #FFFFFF -164.45%, rgba(255, 255, 255, 0) 17.36%), rgba(33, 35, 44, 0.9);
	background-image: url("./images/images/13671.jpg");
	mix-blend-mode: normal;
	-webkit-filter: brightness(100%); /* Safari */
    filter: brightness(100%);
}

.league-title {
	position: absolute;
	left: 19.58%;
	right: 38.68%;
	top: 20.3%;
	bottom: 74.84%;

	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 213%;
	/* or 77px */


	color: #FFFFFF;
}

.tabs {
	background-color: transparent !important;
}

.leagueTabs .tab a {
	font-weight: bold;
	color: #688090 !important;
}

.leagueTabs .tab a.active {
    background-color: #2F2F39 !important;
    color: white !important;
    border-color: transparent !important;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #2F2F39 !important;
    will-change: left, right;
}

.winner_bold {
	font-weight: bold;
}

.center-column {
	width: 100px;
}

.fixture-table {
	table-layout: fixed;
}

.alnright {
	text-align: right;
}

.collection {
    border: none !important;
}
.dpick {
	position: absolute;
	    width: 1px;
	    height: 1px;
	    padding: 0;
	    margin: -1px;
	    overflow: hidden;
	    clip: rect(0,0,0,0);
	    border: 0;
}

.message-icon {
	font-size: 80px
}

.datepicker {
	cursor: pointer;
}



@media only screen and (min-width: 993px) {
	.more-links {
		background: linear-gradient(to right,  #2F2F39 0%,#2F2F39 60%,#FDC624 60%,#FDC624 100%);
		border-top: .2px solid white;
	}
	.right-pic {
		margin-top: 30px;
		margin-left: 200px;
		position: relative;
	}
}

@media only screen and (max-width: 768px) {
	nav {
		background: linear-gradient(to right,  #1a237e 0%,#1a237e 20%,#e53935 20%,#e53935 100%) !important;
		height: 56px !important;
	}

	.ugPageName {
		font-size: 1.25em !important;
		margin-left: 42px;
		margin-top: -15px !important;
		font-weight: 700;
	}

	.text-block {
		display: none;
	}
	.cover-img {
		padding-top: 5px;
	} 
	.logo-text {
		margin-top: 0px !important;
		padding-top: 0px !important;
		position: absolute;
		top: -3px;
		right: -20px;
	}
	.league-title {
		position: absolute;
		left: 10%;
		top: 45%;
		right: 0;

		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		line-height: 20px;
		/* or 77px */


		color: #FFFFFF;
	}
}

@media only screen and (max-width: 600px) {
	body {
		background-color: #fafafa !important;
	}
	.flex-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.flex-item {
		-webkit-box-flex: 0 0 95%;
		-moz-box-flex: 0 0 95%;
		-ms-flex: 0 0 95%;
		-webkit-flex: 0 0 95%;
		flex: 0 0 95%;
		margin: 5px;
	}
	.cover {
	  object-fit: cover;
	  margin: 0 auto; 
	  max-height: 25px; 
	  max-width: 25px;
	}
	.middle-nav {
		line-height: 50px;
		height: 50px;
	}
}

@media only screen and (max-width: 320px) {
	.increaseFontSize {
		font-size: 1.25rem;
	}
}

/*.bottom-nav li {
	border: 1px solid #E5E5E5;
}*/